[Desktop Entry]
Name=Flashlapse
Comment=Starts Flashlapse
Icon=/home/pi/Flashlapse_NEO/_image/icon.png
Exec=sh /home/pi/Flashlapse_NEO/Flashlapse.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;